@import "Helpers/_mixins";
@import "Layout/_header";
@import "Pages/_background";
@import "Pages/_sobre";
@import "Pages/_frase";
@import "Pages/_portafolio";
@import "Pages/_habilidades";
@import "Pages/_contactame";
@import "Pages/_fotos";
@import "Layout/_footer";
::-moz-selection { color: white;  background: #0DC0C0; }
::selection      { color: white;  background: #0DC0C0; } 

/* dibuja el texto seleccionado en un parrafo de color blanco y negro*/
p::-moz-selection { color: white;  background: #0DC0C0;}
p::selection      { color: white;  background: #0DC0C0; }

body{cursor:url(../../img/cursor.png), auto;}

body{
	color:#009ca8;
}
::-webkit-scrollbar{
  width: 11px;
  background: #ffffff;
}
::-webkit-scrollbar-button{
  width:8px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background:#ffffff;
  border:thin solid #009ca8;
  -webkit-box-shadow: inset black;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb{
  background: #2F9290;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: #009ca8;
	transition: all 1s ease;
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77,161,112,.6);
}

