header .navbar-default {
  background-color: transparent;
  border: none;
  padding: 25px 0;
  z-index: 1; }
header .navbar-default .navbar-brand {
  color: white;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 2.5em; }
header .navbar-default .navbar-nav > li > a {
  font-family: "Didact Gothic";
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  color: white; }

.navbar-default .navbar-nav a:hover {
  color: white !important;
  border-bottom: 4px solid white; }

.navbar-brand a {
  color: #009ca8; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

#menu.active {
  background-color: #000000;
  padding: 10px 0;
  webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: translateZ(0); }

/*END HEADER*/
#menu i {
  color: white; }

.background {
  background-color: black; }
  .background .parent {
    position: relative; }
    .background .parent canvas {
      width: 100%; }
    .background .parent .texto {
      position: absolute;
      left: 0px;
      top: 216px;
      margin: auto;
      display: block;
      width: 100%; }
      .background .parent .texto #test {
        color: white;
        text-align: center;
        position: relative;
        left: 0px;
        font-family: "Kaushan Script";
        font-size: 6em;
        margin: auto;
        display: block;
        top: 0px; }
      .background .parent .texto #holi {
        color: white;
        text-align: center;
        position: relative;
        left: 0;
        font-family: "Didact Gothic";
        font-size: 3em; }

.ion-android-arrow-dropdown-circle {
  color: #ffffff;
  text-decoration: none;
  font-size: 4em;
  position: relative;
  left: 664px; }

#social {
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 2000; }

#social ul {
  list-style: none;
  padding: 0; }
  #social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding-top: 9px;
    width: 42px;
    padding-bottom: 9px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: center;
    font-size: 1.35em; }
  #social ul li .ion {
    width: 50px; }
  #social ul li a:hover {
    padding: 10px 30px;
    background: #009ca8; }
  #social ul li .ion-social-facebook {
    background: #3b5998; }
  #social ul li .ion-social-googleplus {
    background: #DC4A38; }
  #social ul li .ion-social-linkedin {
    background: #1060A6; }

#sobre {
  text-align: center;
  background-image: url("../../img/textura.jpg");
  background-attachment: fixed;
  padding-bottom: 1.2%; }
  #sobre .title {
    display: block;
    width: 100%;
    padding-top: 63px;
    background-image: url("../../img/title-ads2.png");
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 50px; }
    #sobre .title h1 {
      font-size: 1.9em;
      font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive;
      width: 100%;
      letter-spacing: 2px;
      margin: 0 auto;
      max-width: 1250px;
      text-align: center;
      position: relative;
      bottom: 58px;
      font-weight: bold; }
  #sobre p {
    width: 55%;
    font-size: 1.6em;
    position: relative;
    top: 39px;
    font-weight: bold;
    font-family: "Didact Gothic"; }

.letters {
  position: relative;
  width: 64%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
  float: right; }
  .letters > img {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.letters:hover img {
  max-width: 520px;
  left: -5px; }
.letters:hover > .letters1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  font-family: "Didact Gothic"; }

.letters1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 9999;
  cursor: default;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "Didact Gothic"; }
  .letters1 p {
    position: relative;
    top: 40%;
    color: #fff;
    font-size: 22px;
    text-shadow: 0px 0px 20px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=0); }
  .letters1 span {
    display: block;
    font-size: 50px;
    margin-bottom: 6px; }

.gib {
  width: 180px;
  margin: 0 auto;
  border-radius: 2px; }

.no-js .letters:hover > .letters1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

#frase {
  background-image: url("../../img/01.jpg");
  background-size: cover;
  background-attachment: fixed; }
  #frase .opacity {
    background-color: rgba(72, 72, 78, 0.35);
    height: 366px; }
    #frase .opacity h1 {
      font-size: 5.6em;
      text-align: center;
      color: #ffffff;
      text-shadow: -2px -2px 1px rgba(63, 166, 180, 0.26), 1px -2px 1px rgba(63, 166, 180, 0.26), -2px 1px 1px rgba(63, 166, 180, 0.26), 1px 2px 1px rgba(63, 166, 180, 0.26);
      z-index: 1;
      padding-top: 91px;
      font-family: "Didact Gothic"; }

#Portafolio {
  background-image: url("../../img/textura.jpg");
  background-attachment: fixed; }
  #Portafolio .container-fluid {
    padding-bottom: 80px; }
    #Portafolio .container-fluid .title {
      display: block;
      width: 100%;
      padding-top: 63px;
      background-image: url("../../img/title-ads2.png");
      background-position: top center;
      background-repeat: no-repeat;
      margin-top: 55px; }
      #Portafolio .container-fluid .title h1 {
        font-size: 1.9em;
        font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive;
        width: 100%;
        letter-spacing: 2px;
        margin: 0 auto;
        max-width: 1250px;
        text-align: center;
        position: relative;
        bottom: 58px;
        font-weight: bold; }
    #Portafolio .container-fluid .btn-group {
      margin-top: 74px; }
    #Portafolio .container-fluid .controls {
      padding-bottom: 1.6%;
      color: #eee;
      text-align: left; }
    #Portafolio .container-fluid label {
      font-weight: 300;
      margin: 0 .4em 0 0; }
    #Portafolio .container-fluid button {
      font-weight: bold;
      display: inline-block;
      padding: .4em .8em;
      background: #fff;
      color: #000000;
      font-size: 16px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
      font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive; }
      #Portafolio .container-fluid button:focus {
        outline: 0 none; }
      #Portafolio .container-fluid button + label {
        margin-left: 1em; }
    #Portafolio .container-fluid button.active {
      background: #68b8c4;
      color: #ffffff; }
    #Portafolio .container-fluid .container {
      content: '';
      display: inline-block;
      width: 100%;
      padding-left: 44px; }
    #Portafolio .container-fluid .mix {
      display: inline-block;
      text-align: left;
      margin-bottom: 2%;
      display: none;
      background-size: cover; }
    #Portafolio .container-fluid .gap {
      display: inline-block; }

/*.imagen {
	figcaption {
		padding-bottom: 5px;
		h2 {
			word-spacing: -0.15em;
		    font-weight: 300;
		    margin: 0px;
		    color: #ffffff;
		    text-shadow: -2px -2px 1px #000000, 1px -2px 1px #000000, -2px 1px 1px #000000, 1px 2px 1px #000000;
		    text-align: center;
		    font-family: "Didact Gothic";

		}
	}
}
.effect-phoebe {
	&:hover {
		background:black;

	}
	
	.photo {
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
		border: 3px solid black;
		width: 100%;
		
	}
	&:hover {
		.photo {
			opacity: 0.3;
			width: 100%;
		    overflow: visible;
		    border: 3px solid rgba(0,0,0,0.7);
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    -webkit-transition: all 0.4s ease-in-out;
		    -moz-transition: all 0.4s ease-in-out;
		    -o-transition: all 0.4s ease-in-out;
		    -ms-transition: all 0.4s ease-in-out;
		    transition: all 0.4s ease-in-out;
		}
	}
	h2 {
		margin-top: -1.3em !important;
		font-size: 24px;
	}
}*/
/* */
.view {
  margin: 4px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }
  .view .mask {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }
  .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }
  .view img {
    display: block;
    position: relative; }
  .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 20px 0 0 0; }
  .view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center; }
  .view a.info {
    /* display: inline-block; */
    text-decoration: none;
    padding: 6px;
    background: #000;
    color: #fff;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    text-align: center;
    margin: auto;
    display: block;
    width: 120px; }
    .view a.info:hover {
      box-shadow: 0 0 5px #000; }

.view-second img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in; }
.view-second .mask {
  background-color: rgba(12, 19, 27, 0.6);
  width: 300px;
  padding: 100px;
  height: 200px;
  opacity: 0;
  transform: translate(265px, 145px) rotate(45deg);
  -webkit-transform: translate(265px, 145px) rotate(45deg);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  border: 4px solid #009ca8; }
.view-second h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: Raleway, serif;
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: translate(200px, -200px);
  transform: translate(200px, -200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive; }
.view-second p {
  transform: translate(-200px, 200px);
  -webkit-transform: translate(200px, -200px);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 1.2em; }
.view-second a.info {
  transform: translate(0px, 100px);
  -webkit-transform: translate(0px, 100px);
  transition: all 0.2s 0.1s ease-in-out;
  -webkit-transition: all 0.2s 0.1s ease-in-out;
  font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive; }
.view-second:hover .mask {
  opacity: 1;
  transform: translate(0px, 0px) rotate(0deg);
  -webkit-transform: translate(0px, 0px) rotate(0deg); }
.view-second:hover h2 {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s; }
.view-second:hover p {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s; }
.view-second:hover a.info {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s; }

#curriculum {
  background-image: url("../../img/fondogris2.jpg");
  background-size: cover; }
  #curriculum .container-fluid .title {
    display: block;
    width: 100%;
    padding-top: 63px;
    background-image: url("../../img/title-ads2.png");
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 55px; }
    #curriculum .container-fluid .title h1 {
      font-size: 1.9em;
      font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive;
      width: 100%;
      letter-spacing: 2px;
      margin: 0 auto;
      max-width: 1250px;
      text-align: center;
      position: relative;
      bottom: 58px;
      font-weight: bold; }
  #curriculum .container-fluid ::after {
    content: ""; }
  #curriculum .container-fluid ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #curriculum .container-fluid a {
    color: #2c3e50;
    text-decoration: none; }
  #curriculum .container-fluid .btn {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #2c3e50;
    margin-top: 100px;
    font-size: 0.7em;
    font-weight: 700;
    padding: 0.1em 0.4em;
    text-align: center;
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s; }
    #curriculum .container-fluid .btn:hover {
      border-color: #16a085;
      color: #16a085; }
  #curriculum .container-fluid .align {
    clear: both;
    width: 100%;
    max-width: 100%;
    text-align: center; }
    #curriculum .container-fluid .align > li {
      width: 500px;
      min-height: 300px;
      display: inline-block;
      margin: 30px 20px 30px 30px;
      padding: 0 0 0 60px;
      vertical-align: top; }
  #curriculum .container-fluid .book {
    position: relative;
    width: 160px;
    height: 220px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    #curriculum .container-fluid .book:hover > .hardcover_front {
      -webkit-transform: rotateY(-145deg) translateZ(0);
      -moz-transform: rotateY(-145deg) translateZ(0);
      transform: rotateY(-145deg) translateZ(0);
      z-index: 0; }
    #curriculum .container-fluid .book:hover > .page li:nth-child(1) {
      -webkit-transform: rotateY(-30deg);
      -moz-transform: rotateY(-30deg);
      transform: rotateY(-30deg);
      -webkit-transition-duration: 1.5s;
      -moz-transition-duration: 1.5s;
      transition-duration: 1.5s; }
    #curriculum .container-fluid .book:hover > .page li:nth-child(2) {
      -webkit-transform: rotateY(-35deg);
      -moz-transform: rotateY(-35deg);
      transform: rotateY(-35deg);
      -webkit-transition-duration: 1.8s;
      -moz-transition-duration: 1.8s;
      transition-duration: 1.8s; }
    #curriculum .container-fluid .book:hover > .page li:nth-child(3) {
      -webkit-transform: rotateY(-118deg);
      -moz-transform: rotateY(-118deg);
      transform: rotateY(-118deg);
      -webkit-transition-duration: 1.6s;
      -moz-transition-duration: 1.6s;
      transition-duration: 1.6s; }
    #curriculum .container-fluid .book:hover > .page li:nth-child(4) {
      -webkit-transform: rotateY(-130deg);
      -moz-transform: rotateY(-130deg);
      transform: rotateY(-130deg);
      -webkit-transition-duration: 1.4s;
      -moz-transition-duration: 1.4s;
      transition-duration: 1.4s; }
    #curriculum .container-fluid .book:hover > .page li:nth-child(5) {
      -webkit-transform: rotateY(-140deg);
      -moz-transform: rotateY(-140deg);
      transform: rotateY(-140deg);
      -webkit-transition-duration: 1.2s;
      -moz-transition-duration: 1.2s;
      transition-duration: 1.2s; }
  #curriculum .container-fluid .hardcover_front {
    -webkit-transform: rotateY(-34deg) translateZ(8px);
    -moz-transform: rotateY(-34deg) translateZ(8px);
    transform: rotateY(-34deg) translateZ(8px);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.8s ease, z-index 0.6s;
    -moz-transition: all 0.8s ease, z-index 0.6s;
    transition: all 0.8s ease, z-index 0.6s; }
    #curriculum .container-fluid .hardcover_front li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      #curriculum .container-fluid .hardcover_front li:first-child {
        background-color: #eee;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-transform: translateZ(2px);
        -moz-transform: translateZ(2px);
        transform: translateZ(2px); }
        #curriculum .container-fluid .hardcover_front li:first-child:after {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
          -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
          transform: rotateY(90deg) translateZ(-2px) translateX(2px); }
        #curriculum .container-fluid .hardcover_front li:first-child:before {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
          -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
          transform: rotateY(90deg) translateZ(158px) translateX(2px); }
      #curriculum .container-fluid .hardcover_front li:last-child {
        background-color: #009ca8;
        -webkit-transform: rotateY(180deg) translateZ(2px);
        -moz-transform: rotateY(180deg) translateZ(2px);
        transform: rotateY(180deg) translateZ(2px); }
        #curriculum .container-fluid .hardcover_front li:last-child:after {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 160px;
          -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
          -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px); }
        #curriculum .container-fluid .hardcover_front li:last-child:before {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 160px;
          box-shadow: 0px 0px 30px 5px #333;
          -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
          -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px); }
  #curriculum .container-fluid .hardcover_back {
    -webkit-transform: rotateY(-15deg) translateZ(-8px);
    -moz-transform: rotateY(-15deg) translateZ(-8px);
    transform: rotateY(-15deg) translateZ(-8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%; }
    #curriculum .container-fluid .hardcover_back li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      #curriculum .container-fluid .hardcover_back li:first-child {
        background-color: #009ca8;
        -webkit-transform: translateZ(2px);
        -moz-transform: translateZ(2px);
        transform: translateZ(2px); }
        #curriculum .container-fluid .hardcover_back li:first-child:after {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
          -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
          transform: rotateY(90deg) translateZ(-2px) translateX(2px); }
        #curriculum .container-fluid .hardcover_back li:first-child:before {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
          -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
          transform: rotateY(90deg) translateZ(158px) translateX(2px); }
      #curriculum .container-fluid .hardcover_back li:last-child {
        background: #fffbec;
        -webkit-transform: translateZ(-2px);
        -moz-transform: translateZ(-2px);
        transform: translateZ(-2px); }
        #curriculum .container-fluid .hardcover_back li:last-child:after {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 160px;
          -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
          -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px); }
        #curriculum .container-fluid .hardcover_back li:last-child:before {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 160px;
          box-shadow: 10px -1px 80px 20px #666;
          -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
          -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px); }
  #curriculum .container-fluid .book_spine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    -moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    width: 16px;
    z-index: 0; }
    #curriculum .container-fluid .book_spine li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      #curriculum .container-fluid .book_spine li:first-child {
        background: #eee;
        -webkit-transform: translateZ(2px);
        -moz-transform: translateZ(2px);
        transform: translateZ(2px); }
        #curriculum .container-fluid .book_spine li:first-child:after {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
          -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
          transform: rotateY(90deg) translateZ(-2px) translateX(2px); }
        #curriculum .container-fluid .book_spine li:first-child:before {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          -webkit-transform: rotateY(-90deg) translateZ(-12px);
          -moz-transform: rotateY(-90deg) translateZ(-12px);
          transform: rotateY(-90deg) translateZ(-12px); }
      #curriculum .container-fluid .book_spine li:last-child {
        background: #333;
        -webkit-transform: translateZ(-2px);
        -moz-transform: translateZ(-2px);
        transform: translateZ(-2px); }
        #curriculum .container-fluid .book_spine li:last-child:after {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 16px;
          -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
          -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px); }
        #curriculum .container-fluid .book_spine li:last-child:before {
          background: #999;
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 16px;
          box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
          -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
          -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px); }
  #curriculum .container-fluid .page {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10; }
    #curriculum .container-fluid .page > li {
      background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
      background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
      background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
      background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
      box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
      border-radius: 0px 5px 5px 0px;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      transform-origin: left center;
      -webkit-transition-property: transform;
      -moz-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      transition-timing-function: ease; }
      #curriculum .container-fluid .page > li:nth-child(1) {
        -webkit-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        transition-duration: 0.6s; }
      #curriculum .container-fluid .page > li:nth-child(2) {
        -webkit-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        transition-duration: 0.6s; }
      #curriculum .container-fluid .page > li:nth-child(3) {
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s; }
      #curriculum .container-fluid .page > li:nth-child(4) {
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-duration: 0.5s; }
      #curriculum .container-fluid .page > li:nth-child(5) {
        -webkit-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        transition-duration: 0.6s; }
    #curriculum .container-fluid .page li:nth-child(1) {
      -webkit-transform: rotateY(-28deg);
      -moz-transform: rotateY(-28deg);
      transform: rotateY(-28deg); }
    #curriculum .container-fluid .page li:nth-child(2) {
      -webkit-transform: rotateY(-30deg);
      -moz-transform: rotateY(-30deg);
      transform: rotateY(-30deg); }
    #curriculum .container-fluid .page li:nth-child(3) {
      -webkit-transform: rotateY(-32deg);
      -moz-transform: rotateY(-32deg);
      transform: rotateY(-32deg); }
    #curriculum .container-fluid .page li:nth-child(4) {
      -webkit-transform: rotateY(-34deg);
      -moz-transform: rotateY(-34deg);
      transform: rotateY(-34deg); }
    #curriculum .container-fluid .page li:nth-child(5) {
      -webkit-transform: rotateY(-36deg);
      -moz-transform: rotateY(-36deg);
      transform: rotateY(-36deg); }
  #curriculum .container-fluid .coverDesign {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
    #curriculum .container-fluid .coverDesign::after {
      background-image: -webkit-linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
      background-image: -moz-linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
      background-image: linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    #curriculum .container-fluid .coverDesign h1 {
      color: #fff;
      font-size: 2.2em;
      letter-spacing: 0.05em;
      text-align: center;
      margin: 54% 0 0 0;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1); }
    #curriculum .container-fluid .coverDesign p {
      color: #f8f8f8;
      font-size: 1em;
      text-align: center;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1); }
  #curriculum .container-fluid .yellow {
    background-color: #f1c40f;
    background-image: -webkit-linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
    background-image: -moz-linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
    background-image: linear-gradient(top, #f1c40f 58%, #e7ba07 0%); }
  #curriculum .container-fluid .blue {
    background-color: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db 58%, #2a90d4 0%);
    background-image: -moz-linear-gradient(top, #3498db 58%, #2a90d4 0%);
    background-image: linear-gradient(top, #3498db 58%, #2a90d4 0%); }
  #curriculum .container-fluid .grey {
    background-color: #f8e9d1;
    background-image: -webkit-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
    background-image: -moz-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
    background-image: linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%); }
  #curriculum .container-fluid .ribbon {
    background: #c0392b;
    color: #fff;
    display: block;
    font-size: 0.7em;
    position: absolute;
    top: 11px;
    right: 1px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-align: center;
    -webkit-transform: rotateZ(45deg) translateZ(1px);
    -moz-transform: rotateZ(45deg) translateZ(1px);
    transform: rotateZ(45deg) translateZ(1px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 10; }
    #curriculum .container-fluid .ribbon::before {
      position: absolute;
      top: -20px;
      width: 0;
      height: 0;
      border-bottom: 20px solid #c0392b;
      border-top: 20px solid transparent;
      left: -20px;
      border-left: 20px solid transparent; }
    #curriculum .container-fluid .ribbon::after {
      position: absolute;
      top: -20px;
      width: 0;
      height: 0;
      border-bottom: 20px solid #c0392b;
      border-top: 20px solid transparent;
      right: -20px;
      border-right: 20px solid transparent; }
  #curriculum .container-fluid .one {
    padding-left: 40px;
    text-align: left;
    position: absolute;
    top: 0%;
    left: 160px;
    width: 310px; }
    #curriculum .container-fluid .one p {
      color: #000000;
      font-size: 2em;
      font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive; }
  @media screen and (max-width: 37.8125em) {
    #curriculum .container-fluid .align > li {
      width: 100%;
      min-height: 440px;
      height: auto;
      padding: 0;
      margin: 0 0 30px 0; }
    #curriculum .container-fluid .book {
      margin: 0 auto; }
    #curriculum .container-fluid .one {
      text-align: center;
      width: 320px;
      top: 250px;
      padding-left: 0;
      left: -80px;
      font-size: 90%; } }

#habilidades {
  background-image: url("../../img/fondogris2.jpg");
  background-attachment: fixed;
  text-align: center;
  background-repeat: no-repeat;
  padding-bottom: 65px; }
  #habilidades .title {
    display: block;
    width: 100%;
    padding-top: 63px;
    background-image: url("../../img/title-ads2.png");
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 55px; }
    #habilidades .title h1 {
      font-size: 1.9em;
      font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive;
      width: 100%;
      letter-spacing: 2px;
      margin: 0 auto;
      max-width: 1250px;
      text-align: center;
      position: relative;
      bottom: 58px;
      font-weight: bold; }
  #habilidades h5 {
    font-weight: 700;
    color: #3E5196;
    margin-top: 24px;
    font-family: "Didact Gothic"; }

.efecto {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center; }
  .efecto .progresed {
    opacity: 0;
    transition: opacity 0.2s linear, margin 0.2s linear;
    font-family: Georgia, serif;
    font-style: italic;
    color: #009ca8;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    height: 2em;
    width: 100%;
    background-color: white;
    padding-top: 6px;
    border-radius: 24px;
    border: 1px solid rgba(0, 188, 212, 0.16); }
  .efecto:hover {
    cursor: pointer; }
    .efecto:hover .progresed {
      opacity: 1;
      margin-top: 20px;
      margin-bottom: 10px; }
  .efecto i {
    font-size: 4em;
    color: #009ca8;
    background: white;
    padding: 23px 35px;
    border-radius: 100%; }
    .efecto i:hover {
      background-image: url("../../img/textura.jpg");
      background-color: #ffffff;
      color: #009ca8;
      transition: 0.4s; }
  .efecto .letter {
    margin-top: 0px; }

.bg-circle {
  border-radius: 100%;
  background-color: white;
  padding: 29px 34px 33px 35px;
  display: inline-block;
  margin-top: -18px; }
  .bg-circle:hover {
    background-image: url("../../img/textura.jpg");
    transition: 0.4s; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.progresed-bar {
  background-image: url("../../img/textura.jpg.png");
  background-color: #ffffff;
  position: absolute;
  height: 0.6em;
  left: 10px;
  right: 3em;
  top: 0.7em;
  border: 1px solid #009ca8; }
  .progresed-bar .progresed-bar-complete {
    background-color: #009ca8 !important;
    position: absolute;
    height: 100%; }

.progresed-indicator {
  color: #009ca8 !important;
  margin-left: auto;
  width: 3em;
  height: 1em;
  line-height: 1em;
  font-style: normal; }

.unir {
  margin: 0px 50px 0px 50px; }

#contactame {
  background-image: url("../../img/fondogris.png");
  background-size: cover;
  padding-bottom: 11.6%; }
  #contactame .title {
    display: block;
    width: 100%;
    padding-top: 63px;
    background-image: url("../../img/title-ads2.png");
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 55px; }
    #contactame .title h1 {
      font-size: 1.9em;
      font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive;
      width: 100%;
      letter-spacing: 2px;
      margin: 0 auto;
      max-width: 1250px;
      text-align: center;
      position: relative;
      bottom: 58px;
      font-weight: bold; }
  #contactame .box {
    background-image: url("../../img/webcontact.png");
    height: 321px;
    background-repeat: no-repeat;
    background-position: center; }
    #contactame .box p {
      position: relative;
      text-align: center;
      font-size: 1.5em;
      top: 41px;
      font-family: "Didact Gothic";
      font-weight: bold; }
      #contactame .box p i {
        margin-right: 10px; }
    #contactame .box .circle {
      text-align: center;
      margin-top: 41px; }
      #contactame .box .circle a {
        margin-right: 30px; }
        #contactame .box .circle a i {
          font-size: 6.6em;
          color: #009ca8;
          font-size: 6.6em; }
          #contactame .box .circle a i:hover {
            text-shadow: -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000; }

#Fotos {
  background-image: url("../../img/textura.jpg");
  background-attachment: fixed; }
  #Fotos .container-fluid {
    padding-bottom: 80px; }
    #Fotos .container-fluid .title {
      display: block;
      width: 100%;
      padding-top: 63px;
      background-image: url("../../img/title-ads2.png");
      background-position: top center;
      background-repeat: no-repeat;
      margin-top: 55px; }
      #Fotos .container-fluid .title h1 {
        font-size: 1.9em;
        font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, cursive;
        width: 100%;
        letter-spacing: 2px;
        margin: 0 auto;
        max-width: 1250px;
        text-align: center;
        position: relative;
        bottom: 58px;
        font-weight: bold; }
    #Fotos .container-fluid a img {
      margin-top: 162px; }
    #Fotos .container-fluid .imagen img {
      width: 100%; }

footer {
  background-color: #000000;
  padding-bottom: 2.1%; }
  footer p {
    color: #FFFFFF;
    text-align: center;
    font-family: "Didact Gothic";
    font-weight: bold;
    padding-top: 40px; }

::-moz-selection {
  color: white;
  background: #0DC0C0; }

::selection {
  color: white;
  background: #0DC0C0; }

/* dibuja el texto seleccionado en un parrafo de color blanco y negro*/
p::-moz-selection {
  color: white;
  background: #0DC0C0; }

p::selection {
  color: white;
  background: #0DC0C0; }

body {
  cursor: url(../../img/cursor.png), auto; }

body {
  color: #009ca8; }

::-webkit-scrollbar {
  width: 11px;
  background: #ffffff; }

::-webkit-scrollbar-button {
  width: 8px;
  height: 5px; }

::-webkit-scrollbar-track {
  background: #ffffff;
  border: thin solid #009ca8;
  -webkit-box-shadow: inset black;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

::-webkit-scrollbar-thumb {
  background: #2F9290;
  border-radius: 6px;
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:hover {
  background: #009ca8;
  transition: all 1s ease; }

/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77, 161, 112, 0.6); }

/*# sourceMappingURL=main.css.map */
