.background{
	background-color:black;

	.parent{
		position:relative;
		canvas{
		width:100%;
		}
		.texto{
			    position: absolute;
			    left: 0px;
			    top: 216px;
			    margin: auto;
			    display: block;
			    width: 100%;
			#test{
				color: white;
			    text-align: center;
			    position: relative;
			    left: 0px;
			    font-family: "Kaushan Script";
			    font-size: 6em;
			    margin: auto;
			    display: block;
			    top:0px;
			}
			#holi{
				    color: white;
				    text-align: center;
				    position: relative;
				    left: 0;
				    font-family: "Didact Gothic";
				    font-size: 3em;
			}
					}
	}
}
.ion-android-arrow-dropdown-circle{
				color: #ffffff;
			    text-decoration: none;
			    font-size: 4em;
			    position: relative;
			    left: 664px;
			}
